<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<script src="static/index.js"></script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
</style>

<div>
<h1> Web Pintos </h1>
<textarea id="shell_output" placeholder="PintOS Output" rows="20" cols="80" readOnly>
</textarea>

<form method="post">
<p><input type="text" id="shell_input"/></p>
</form>
<div>

</html>
